@{
    ViewData["Title"] = "Home Page";
}

@Html.Partial("userAccess")

<style>
.table-fixed tbody{
    height:500px;
    overflow-y: auto;
    width:100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed td,
.table-fixed th{
    display:block;
}
.table-fixed tbody td,
.table-fixed thead > tr > th{
    float:left;
    border-bottom-width:0;

}

</style>

<body background="Images\wallpaper_1.jpg" style="background-size: cover;">

<div class="container d-flex justify-content-center align-items-center h-100">
    <div class="card border-0 table-fixed table-responsive text-center bg-dark" style="width:2500px; height:730px; margin-top:13%">
        <ul class="nav nav-tabs  bg-dark text-light" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active bg-dark text-light" id="countries-tab" data-bs-toggle="tab" data-bs-target="#countries" type="button" role="tab" aria-controls="home" aria-selected="true">Countries</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link  bg-dark text-light" id="new_countries-tab" data-bs-toggle="tab" data-bs-target="#new_countries" type="button" role="tab" aria-controls="sales" aria-selected="false">New Countries</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="airlines" role="tabpanel" aria-labelledby="countries-tab">
                <div class="container-fluid">
                    <div class="row">
                        @foreach (var item in @ViewBag.CountriesModel)
                        {
                            <div class="card" style="width: 18rem;margin-left:1%;margin-top:1%">
                                <img src="@item.cou_img" class="card-img-top" style="width:100%;height:90px">
                                <div class="card-body">
                                    Country: <h5 class="card-title">@item.cou_name</h5>
                                    Country Code: <p class="card-text"> # @item.id_country</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="new_countries" role="tabpanel" aria-labelledby="new_countries-tab">
              <div class="container d-flex justify-content-center align-items-center h-100" style="width:70%; margin-top:1%">
                    <form method="post" action="@Url.Action("Save", "Countries")" enctype="multipart/form-data">
                             <div class="card mb-4">
                                <div class="card-header py-3 bg-warning text-dark">
                                   <h5 class="mb-0"><b>New Country</b></h5>
                                    </div>
                                    <div class="card-body bg-dark text-light">
                                        <div class="form-outline mb-4">
                                            <input type="text" id="cou_name" name="cou_name" class="form-control" required />
                                            <label class="form-label" for="form6Example4">Country Name</label>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <input type="text" id="id_country" name="id_country" class="form-control" required />
                                            <label class="form-label" for="form6Example4">Country Code</label>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <div class="file-upload-wrapper">
                                                <input type="file" id="photo" name="photo" class="form-control" />
                                            </div>
                                        </div>
                                        <div>
                                            <a href="https://www.allwavingflags.com/" target="_blank">Get flag pictures here</a>
                                        </div>
                                    </div>
                                    <div class="card-footer bg-warning">
                                        <button type="submit" class="btn btn-success" style="float:right"><b>Save</b></button>
                    </form>
                    <form asp-controller="Countries" asp-action="Index" method="post">
                        <button type="submit" class="btn btn-danger" style="float:left"><b>Cancel</b></button>
                    </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
