@{
    ViewData["Title"] = "Home Page";
}

@Html.Partial("userAccess")

<div class="text-center">
    <div class="card">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="NewFlightArrival-tab" data-bs-toggle="tab" data-bs-target="#NewFlightArrival" type="button" role="tab" aria-controls="home" aria-selected="true">New Flight Arrival</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="NewFlightDeparture-tab" data-bs-toggle="tab" data-bs-target="#NewFlightDeparture" type="button" role="tab" aria-controls="sales" aria-selected="false">New Flight Departure</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="FlightsArrivals-tab" data-bs-toggle="tab" data-bs-target="#FlightsArrivals" type="button" role="tab" aria-controls="3" aria-selected="false">Flights Arrivals</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="FlightsDepartures-tab" data-bs-toggle="tab" data-bs-target="#FlightsDepartures" type="button" role="tab" aria-controls="4" aria-selected="false">Flights Departures</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="NewFlightArrival" role="tabpanel" aria-labelledby="NewFlightArrival-tab">
                <div class="card" style="margin-top:5px">
                    <div class="card-header">
                        <h4 style="text-align:center">New Flight Arrival</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <form asp-controller="Flights" asp-action="SaveFlightArrival" method="post">
                                    <div class="form-floating mb-3">
                                        <input type="text" required class="form-control" name="origen" placeholder="Origen">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="date" id="origen_date" required class="form-control" name="origen_date" placeholder="Date">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="time" id="origen_time" required class="form-control" name="origen_time" placeholder="Time">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" required class="form-control" name="origen_door" placeholder="Door">
                                    </div>
                                    <div class="form-floating mb-3">
                                        @Html.DropDownList("statusA", (IEnumerable<SelectListItem>)ViewBag.StatusASelectListItem, "Select Arrival Status", new { @class ="form-control" })
                                    </div>
                                    <div class="form-floating mb-3">
                                        @Html.DropDownList("id_airline", (IEnumerable<SelectListItem>)ViewBag.AirlineSelectListItem, "Select Airline", new { @class ="form-control" })
                                    </div>
                                    <hr />
                                    <button type="submit" class="btn btn-success" style="float:right">Save</button>
                                </form>
                                <form asp-controller="" asp-action="" method="post">
                                    <button type="reset" class="btn btn-danger" style="float:left">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="NewFlightDeparture" role="tabpanel" aria-labelledby="NewFlightDeparture-tab">
                <div class="card" style="margin-top:5px">
                    <div class="card-header">
                        <h4 style="text-align:center">New Flight Departure asdasd</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <form asp-controller="Flights" asp-action="SaveFlightDeparture" method="post">
                                    <div class="form-floating mb-3">
                                        <input type="text" required class="form-control" name="destination" placeholder="Destination">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="date" id="departure_date" required class="form-control" name="departure_date" placeholder="Date">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="time" required class="form-control" name="departure_time" placeholder="Time">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" required class="form-control" name="departure_door" placeholder="Door">
                                    </div>
                                    <div class="form-floating mb-3">
                                        @Html.DropDownList("statusD", (IEnumerable<SelectListItem>)ViewBag.StatusDSelectListItem, "Select Departure Status", new { @class ="form-control" })
                                    </div>
                                    <div class="form-floating mb-3">
                                        @Html.DropDownList("id_airline", (IEnumerable<SelectListItem>)ViewBag.AirlineSelectListItem, "Select Airline", new { @class ="form-control" })
                                    </div>
                                    <button type="submit" class="btn btn-success" style="float:right">Save</button>
                                </form>
                                <form asp-controller="" asp-action="" method="post">
                                    <button type="reset" class="btn btn-danger" style="float:left">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="FlightsArrivals" role="tabpanel" aria-labelledby="FlightsArrivals-tab">
                <div class="card">
                    <div class="card-header">
                        <h4 style="text-align:center">Flights Arrivals</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-responsive table-hover">
                            <tr>
                                <th>Flight Number </th>
                                <th>Airline </th>
                                <th>Origen </th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Door</th>
                                <th>Status</th>
                            </tr>
                            @foreach (var item in ViewBag.flightsListArrivals)
                            {
                                <tr>
                                    <td>@item.fli_number</td>
                                    <td>@item.air_name</td>
                                    <td>@item.place</td>
                                    <td>@item.date</td>
                                    <td>@item.time</td>
                                    <td>@item.door</td>
                                    <td>@item.description</td>

                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="FlightsDepartures" role="tabpanel" aria-labelledby="FlightsDepartures-tab">
                <div class="card">
                    <div class="card-header">
                        <h4 style="text-align:center">Flights Departures</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-responsive table-hover">
                            <tr>
                                <th>Flight Number </th>
                                <th>Airline </th>
                                <th>Destination </th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Door</th>
                                <th>Status</th>
                            </tr>
                            @foreach (var item in ViewBag.flightsListDepartures)
                            {
                                <tr>
                                    <td>@item.fli_number</td>
                                    <td>@item.air_name</td>
                                    <td>@item.place</td>
                                    <td>@item.date</td>
                                    <td>@item.time</td>
                                    <td>@item.door</td>
                                    <td>@item.description</td>

                                </tr>
                            }
                        </table>
                    </div>
                    <div class="card-footer"></div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



