@{
    ViewData["Title"] = "AdminUsers";
}

@Html.Partial("userAccess")

<style>
.table-fixed tbody{
    height:500px;
    overflow-y: auto;
    width:100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed td,
.table-fixed th{
    display:block;
}
.table-fixed tbody td,
.table-fixed thead > tr > th{
    float:left;
    border-bottom-width:0;
}
</style>
<body background="Images\wallpaper_1.jpg" style="background-size: cover;">

                <div class="container d-flex justify-content-center align-items-center" style="margin-top:5%;" >
                        <table class="table table-hover table-fixed table-dark text-light" style="width:1000px; height:500px">
                            <thead class="bg-dark text-light">
                                <tr style="width:950px">
                                     <th style="width:50px" scope="col">Id</th>
                                     <th style="width:215px" scope="col">First Name</th>
                                     <th style="width:215px" scope="col">Last Name</th>
                                     <th style="width:270px" scope="col">Email</th>
                                     <th style="width:200px" scope="col">Rol</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in ViewBag.Users)
                            {
                                <tr style="width:950px" onchange="Save(@item.id_user)">
                                    <td style="width:50px">@item.id_user</td>
                                    <td style="width:215px">@item.per_first_name</td>
                                    <td style="width:215px">@item.per_last_name</td>
                                    <td style="width:270px">@item.per_email</td>
                                    <td style="width:200px">@Html.DropDownList("DropRolName"+@item.id_user, (IEnumerable<SelectListItem>) ViewBag.Rols, item.rol_name, new { @class = "form-control" })</td>
                                </tr>
                            }
                            </tbody>
                        </table>

                        <div id="myModal" class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">User management</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>User Updated</p>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</body>
<script  type="text/javascript">
          function Save(id_user) {                            
              var api = new XMLHttpRequest();
                  api.open("GET", "/AdminUsers/UpdateUserRol?id_user=" + id_user + "&rol_id=" + document.querySelector("#DropRolName" + id_user).value);
                     api.send();

                     api.onreadystatechange = function() {
                        if (this.status == 200 && this.readyState == 4) {
                            $.notify("Update User", "success");
                    }
              }
          }
 </script>