@{ ViewData["Title"] = "Home Page";
}
@Html.Partial("userAccess")


<body background="Images\wallpaper_1.jpg" style="background-size: cover;">




    <div class="text-center">
        <div class="card border-0" style="width:47%; height:70%; margin:2% 10% 0% 28%;">
                <ul class="nav nav-tabs bg-dark border-0" id="myTab" role="tablist">
                    <li class="nav-item" style="" role="presentation">
                        <button class="nav-link active text-light bg-dark border-dark" style="" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"><b>Profile</b></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-light bg-dark border-dark" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false"><b>Contact</b></button>
                    </li>
                </ul>
            <div class="tab-content tex bg-dark" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="container">
                            <div class="bg-dark border-0">
                                 <div class="card mb-3 bg-dark border-0 justify-content-center align-items-center h-100">
                                     <div class="card-body bg-warning text-dark" style="border-radius:15px 15px; width:75%; height: 50%; !important">
                                         <div class="d-flex text-black">
                                            <div class="flex-shrink-0">
                                                 <img src=@ViewBag.User.per_img 
                                                     class="img-fluid border-0" style="width: 180px; height: 200px; border-radius: 10px;">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h5 class="mb-1"><b>@ViewBag.User.per_first_name @ViewBag.User.per_last_name</b></h5>
                                                <p class="mb-2 pb-1" style="color: #2b2a2a;"><b>@ViewBag.User.rol_name</b></p>
                                                <p class="mb-2 pb-1" style="color: #2b2a2a;">@ViewBag.User.per_email</p>
                                                <form asp-action="UpdatePhoto" asp-controller="Home" method="post" enctype="multipart/form-data">
                                                    <div class="d-flex pt-1" style="margin-top:70px">
                                                        <div class="file-upload-wrapper">
                                                            <input type="file" name="photo" class="form-control me-1 flex-grow-1" />
                                                        </div>
                                                    </div>
                                                    <div class="d-flex pt-1">
                                                        <button type="submit" class="btn btn-dark me-1 flex-grow-1 text-light">Update photo</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="tab-pane fade bg-dark border-0" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="bg-dark border-0 d-flex justify-content-center align-items-center h-100">
                        <div class="card mb-3 bg-dark border-0" style="width:75%; height: 50%; !important" >
                            <div class="card-body bg-warning text-dark" style="border-radius:15px 15px;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <b><p class="mb-0">Full Name</p></b>
                                    </div>
                                    <div class="col-sm-9">
                                        <b><p class="text-muted mb-0">@ViewBag.User.per_first_name @ViewBag.User.per_last_name</p></b>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <b><p class="mb-0">Email</p></b>
                                    </div>
                                    <div class="col-sm-9">
                                        <b> <p class="text-muted mb-0">@ViewBag.User.per_email</p></b>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <b><p class="mb-0">Department</p></b>
                                    </div>
                                    <div class="col-sm-9">
                                        <b><p class="text-muted mb-0">@ViewBag.User.rol_name</p></b>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <b><p class="mb-0">Phone number</p></b>
                                    </div>
                                    <div class="col-sm-9">
                                        <b><p class="text-muted mb-0">8707-1667</p></b>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <b> <p class="mb-0">Address</p></b>
                                    </div>
                                    <div class="col-sm-9">
                                        <b><p class="text-muted mb-0">Bay Area, San Francisco, CA</p></b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
