@{
    ViewData["Title"] = "Home Page";
}
<<<<<<< HEAD
@Html.Partial("userAccess") 
=======

@Html.Partial("userAccess")
>>>>>>> 504b60f8cd8da67e94b530137f27f1290f8e489d

<div class="text-center">
    <a href="@Url.Action("Edit", "Airlines")" class="btn btn-outline-primary me-1 flex-grow-1">New</a>
    <div class="container" style="width:100%;margin-top:2%">
        <div class="row">
            @foreach (var item in @ViewBag.Arlines)
            {
                <div class="card" style="width: 18rem;margin-left:1%;margin-top:1%">
                    <img src="@item.air_img" class="card-img-top" style="width:100%;height:90px">
                    <div class="card-body">
                        Name: <h5 class="card-title">@item.air_name</h5>
                        Phone: <p class="card-text">@item.air_phone</p>
                        Country: <p class="card-text">@item.air_country</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>